* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/images/homepage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    color: $text-primary;
}