.btn {
    border-radius: 5px;
    padding: 8px 25px;
    font-weight: bold;

    &.btn-colour-primary {
        background-color: $tertiary;
        color: $text-primary;
        border-color: $text-primary;
    }

    &.btn-colour-secondary {
        color: $primary;
        background-color: $text-primary;
        border-color: $text-secondary;
    }
}

.btn-center {
    text-align: center;
}