// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary: #7f6e98;
$secondary: #9e5824;
$tertiary: #631a13;
$inputfield: #f1f7bc;
$text-primary: #cb9db4;
$text-secondary: #1a0e18;